services:
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - db_data:/var/lib/postgresql/data
    networks:
      - wallet-network

  redis:
    image: redis:7-alpine
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - wallet-network

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_LISTENERS: 'INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:9092,EXTERNAL://localhost:9094'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    ports:
      - "9094:9094"
    volumes:
      - kakfa_data:/var/lib/kafka/data
    networks:
      - wallet-network

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "7000:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-kraft
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka
    networks:
      - wallet-network

  eureka-server:
    image: service-discovery:0.0.1-SNAPSHOT
    container_name: service-discovery
    ports:
      - "8761:8761"
    networks:
      - wallet-network

  currency-conversion-service:
    image: currency-conversion-service:0.0.1-SNAPSHOT
    container_name: currency-conversion-service
    environment:
      EUREKA_SERVER: http://eureka-server:8761/eureka
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - wallet-network
    depends_on:
      - eureka-server
      - redis

volumes:
  db_data:
  redis_data:
  kakfa_data:

networks:
  wallet-network:
    driver: bridge